pre.shiki {
	border-radius: 6rem;
}

pre.shiki .language-id {
	display: flex;
	font-size: 11rem;
	font-style: italic;
	opacity: 0.6;
	width: 100%;
	justify-content: flex-end;
	padding: 0 8rem;
	height: 0;
}

pre.shiki > .code-container {
	padding: 8rem;
}

pre.shiki code {
	background-color: transparent;
	padding: 0;
	margin: 0;
}

.twoslash-exception-message {
	font-size: 18rem !important;
}

.twoslash-exception-message h3 {
	font-size: 22rem !important;
}